{% extends 'base.html.twig' %}

{% block title %}Inscriptions :  !{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

	<div class="container">
		<div class="col-xs-12">
			<h3>Renseignements généraux</h3>
		</div>

		<div class="col-xs-12">
			<p>Il y a deux possibilités pour vous inscrire :</p>
			<ul>
				<li>Par internet</li>
				<li>Directement sur place à partir de la veille de la course (<a href="{{ asset('docs/inscription_2019.pdf') }}" target="inscrpage">fiche d'inscription</a>)</li>
			</ul>
			<p>Attention : La participation à la course est soumise a l'acceptation sans réserve du règlement
				que vous trouverez <a href="{{ asset('docs/reglement_2019.pdf') }}" target="_blank">ICI</a>.</p>
			<p>Votre dossard vous sera remis directement le jour de la course à partir de 8h30.</p>
			<p>Nous vous conseillons de vous inscrire par internet afin d'éviter
				l'affluance du dimanche matin</p>
		</div>

		<div class="col-xs-12">
			<h1>Par Internet</h1>
			<div class="table-responsive">
				<table class="table">
					<tr><th>Course</th><th>Heure de départ</th><th>Prix</th><th>Inscription</th></tr>
					<tr><td>Trail Découverte (14.5Km)</td><td>9h00</td> <td>11€<sup>*</sup></td>
						<td>
							{% if liens.fTrail %}
								{% set fDis = '' %}
							{% else %}
								{% set fDis = ' disabled' %}
							{% endif %}

							{{ control.bouton(
								"S'inscrire en ligne",
								liens.lienTrail,
								'_inscr',
								'btn-block btn-success' ~ fDis) }}
						</td>
					</tr>
					<tr><td>Grand parcours (10Km)</td>    <td>9h15</td> <td>9€<sup>*</sup></td>
						<td>
							{% if liens.fCross %}
								{% set fDis = '' %}
							{% else %}
								{% set fDis = ' disabled' %}
							{% endif %}

							{{ control.bouton(
								"S'inscrire en ligne",
								liens.lienCross,
								'_inscr',
								'btn-block btn-success' ~ fDis) }}
						</td>
					</tr>
					<tr><td>Parcours marche (6Km)</td>    <td>8h45</td> <td>5€<sup>*</sup></td>
						<td>
							{% if liens.fMarche %}
								{% set fDis = '' %}
							{% else %}
								{% set fDis = ' disabled' %}
							{% endif %}

							{{ control.bouton(
								"S'inscrire en ligne",
								liens.lienMarche,
								'_inscr',
								'btn-block btn-success' ~ fDis) }}
						</td>
					</tr>
					<tr><td>Petit parcours (3Km)</td>     <td>9h30</td> <td>5€<sup>*</sup></td>
						<td>
							{% if liens.fPetit %}
								{% set fDis = '' %}
							{% else %}
								{% set fDis = ' disabled' %}
							{% endif %}

							{{ control.bouton(
								"S'inscrire en ligne",
								liens.lienPetit,
								'_inscr',
								'btn-block btn-success' ~ fDis) }}
						</td>
					</tr>
					<tr><td>Parcours Jeunes</td>          <td>A partir de 11h00</td><td>3€<sup>*</sup></td>
						<td><p>Inscriptions sur place le jour même</p>
							{# control.bouton(
								"S'inscrire en ligne",
								"http://inscriptions.perfevent.com/biviers2018/register/xxxx",
								'_inscr',
								'btn-block btn-success') #}
						</tr>
				</table>
			</div>
			<p><sup>*</sup> : 1&euro; sera reversé au don du sang</p>
		</div>

		<div class="col-xs-12">

			<h2>Sur place</h2>
			<p>Une permanence est organisée de 14h00 à 18h00 le samedi précédant la course,
                sur la place du village, salle de l'ancienne mairie, à proximité du bar du village.</p>
			<p>Et le jour de la course, il est possible de s'inscrire à partir de 8h00 sur le lieu
                de départ, et ce jusqu'à 15mn avant le départ des courses</p>.
			<img class ="w100" src="{{ asset('im/a2.jpg') }}" alt="stade">
		</div>

		<div class="col-xs-12">&nbsp;</div>

		<div class="col-xs-12">
		</div>
	</div>
{% endblock %}

