{% form_theme formChoix 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Page d'accueil :  !{% endblock %}

{% block main_page %}

    <div class="container">

        <div class="col-xs-12">
        {{ form_start(formChoix) }}
        {{ form_widget(formChoix) }}
        {{ form_end(formChoix) }}
        </div>

        <div class="col-xs-12">
            <table class="table">
                <tr><th>Classement</th><th>Dossard</th><th>Nom</th><th>Prénom</th><th>Temps</th><th>Vitesse</th><th>Ecart au 1er</th><th>Catégorie</th><th>Sexe</th><th>Ville</th></tr>

        {% for resultat in resultats %}

                <tr>
                    <td>{{ resultat.r_classement }}</td>
                    <td>{{ resultat.r_dossard }}</td>
                    <td>{{ resultat.r_nom }}</td>
                    <td>{{ resultat.r_prenom }}</td>
                    <td>{{ resultat.r_temps }}</td>
                    <td>{{ resultat.r_vitesse }}</td>
                    <td>{{ resultat.r_ecart }}</td>
                    <td>{{ resultat.r_categorie }}</td>
                    <td>{{ resultat.r_sexe }}</td>
                    <td>{{ resultat.r_ville }}</td>
                </tr>

        {% endfor %}

            </table>

        </div>
    </div>
    <div class="newsindex"></div>
{% endblock %}
