<!DOCTYPE html>
<html lang="fr"><head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50183564-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date());

        gtag('config', 'UA-50183564-2');
    </script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="fr">
    <meta name="language" content="fr">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Le cross ou trail de Biviers (Jacques Chabert) dans le Gresivaudan, pres de
     Grenoble, est une course à pied nature de 10Km organisee chaque annee le troisieme week end de Septembre"/>
    <meta name="keywords" content="cross, course a pied, 10km, 10 Kilometres, CAP, trail, Biviers, Gresivaudan, Grenoble, Jogging, running, Jacques Chabert, isère, ffa, club, Rhone alpes"/>
    <link rel="icon" type="image/x-icon" href="{{ asset("cross.ico") }}"/>
    <script type="text/javascript" id="cookiebanner"
            src="{{ asset("js/cookiebanner.min.js") }}"
            data-position="top"
            data-fg="#ffffff"
            data-bg="#3b5269"
            data-link="#dddddd"
            data-moreinfo="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/que-dit-la-loi/"
            data-message="Les cookies assurent le bon fonctionnement de notre site Internet.
                              En utilisant ce dernier, vous acceptez leur utilisation."
            data-linkmsg="En savoir plus"
            data-effect="fade"
            data-expires="{{ "now"|date_modify('+30days')|date('r') }}"
            data-zindex="1000"
            data-height="64px"
            data-font-size="22px">
    </script>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("css/cross.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/menu_top.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/cross_frame.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/fonts/raleway.css") }}">
    {% endblock %}

    {% block javascripts_head %}
        <script type="text/javascript" src="{{ asset("js/jquery-3.1.1.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% include 'flash/flash_messages.html.twig' %}

    </head>
    <body>
        {% block body %}
        {% import 'macros/menuItem.html.twig' as Menu %}
        <div class="site-container">
            <div class="iconic">
                <button class="hamburger hamburger--arrow" type="button" href="#" id="menu-icon">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <script>
                    var $hamburger = $("#menu-icon");
                    $hamburger.on("click", function (e) {
                        $hamburger.toggleClass("is-active");
                    });
                </script>
            </div>

            <style>
                @font-face {
                    font-family: 'osw';
                    src: url('{{ asset('css/fonts/osw.eot') }}') format('eot');
                    src: url('{{ asset('css/fonts/osw.ttf') }}') format('truetype'),
                         url('{{ asset('css/fonts/osw.woff')}}') format('woff'),
                         url('{{ asset('css/fonts/osw.svg') }}') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                .cont_bandeau {
                    position: relative;
                    text-align: center;
                    color: white;
                }
                .date_cross {
                    position: absolute;
                    font-family: osw, sans-serif;
                    font-size: 6em;
                    color: white;
                    transform: rotate(-10deg);
                    bottom: 0.35em;
                    left: 2em;
                }
            </style>
            <div class="site-pusher">
                <div id="page" class="round">

                    <div id="bandeau" class="cont_bandeau">

                        <div id="date_cross" class="date_cross">[{{ config.dateEdition | date('d/m/Y') }}]</div>

                        <picture>
                            <source media="(min-width: 450px)" srcset="{{ asset("im/bandeau360_cr.jpg") }}">
                            <source media="(max-width: 450px)" srcset="{{ asset("im/bandeau360_cr.jpg") }}">
                            <img src="{{ asset("im/bandeau360_cr.jpg") }}">
                        </picture>

                    </div>

                    <div id="siteWrapper">
                        <header>
                            <nav>
                                <div id="headerTop"></div>
                                <ul id="menu">
                                    {{ Menu.item('root', 'Accueil') }}
                                    <li><a href="#">Les courses</a>
                                        <ul>
                                            {{ Menu.item('trail', 'Le Trail découverte') }}
                                            {{ Menu.item('10km', 'Le Cross') }}
                                            {{ Menu.item('marche', 'Le parcours marche') }}
                                            {{ Menu.item('3km', 'Le petit parcours') }}
                                            {{ Menu.item('jeunes', 'Les parcours jeune sur le stade') }}
                                        </ul>
                                    </li>
                                    {{ Menu.item('inscription', '<span class="flashbegin">Inscription</span>', '', 'menubapteme') }}
                                    {{ Menu.item('resultats', 'Résultats') }}
                                    {{ Menu.item('galeries', 'Galerie Photos') }}
                                    <li><a href="#">Informations pratiques</a>
                                        <ul>
                                            {{ Menu.item('contact', 'Informations et contacts') }}
                                            {{ Menu.item('liens', 'Liens Utiles') }}
                                            {{ Menu.item('whoswho', 'Organisateurs') }}
                                            {{ Menu.item('intranet', 'Login Intranet') }}
                                        </ul>
                                    </li>
                                    {{ Menu.item('ecrire', 'Nous écrire') }}
                                </ul>
                            </nav>
                        </header>

                        <script>
                            function updateTransition() {
                                var el = document.querySelector("span.flashbegin");

                                if (el) {
                                    el.className = "flashend";
                                } else {
                                    el = document.querySelector("span.flashend");
                                    el.className = "flashbegin";
                                }
                                return el
                            }
                            var intervalID = window.setInterval(updateTransition, 500);
                        </script>

                        <div id="content" class="round" name="ifr">
                            <div class="b-droite">

                                {# affichage de toutes les images du rep pub #}

								{% for pub in getPubs(asset('imp')) %}

									<img class="w100" src="{{ asset(pub) }}">

                                {% endfor %}

                            </div>

                            <div class="b-gauche" id="b-gauche">

                                {% block main_page %}{% endblock %}

                            </div>
                        </div> <!-- div id="content" class="round" name="ifr" -->
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div id="footer">

                    {% set tag = readfile(asset('.revision')) %}

                    <p>Copyright &copy; 2007-2017 Cross de Biviers - {{ tag }}</p>

                </div>
                <div class="site-cache" id="site-cache"></div>
            </div>
        </div>
    {% endblock %}

    {% block body_end %}
        <script type="text/javascript" src="{{ asset("js/menu_top.js") }}"></script>
    {% endblock %}

    </body>

    {% block javascripts_end %}{% endblock %}

    {% block footer_end %}{% endblock %}
</html>
